<% provide(:title, "Home") %>

<div class="jumbotron">
	<div class="container">
		<div class="<%= logged_in? ? 'landing-center' : 'landing-left' %>">
			<div class="greeting">
				<h1 class="heading">Craigslist Scraper</h1>
				<h2 class="subheading">Enter some searches, get emailed about new posts in your area</h2>
			</div>
		</div>
		<% if !logged_in? %>
			<div class="landing-right">
			
				<%= form_for @user do |f| %>
					<%= render partial: 'users/user_form.html.erb', locals: { f: f} %>
				<% end %>
			</div>
		<% end %>
	</div>

</div>
<div class="info">
	<div class="info-top">
	</div>
	<div class="info-left">
	</div>
	<div class="info-center">
	</div>
	<div class="info-right">
	</div>
</div>
