<% provide(:title, "Home") %>

<h1>Craigslist Scraper</h1>
<h2>Enter some searches, get emailed about new posts in your area</h2>

<% if !logged_in? %>
	<%= link_to "Log In", login_path %>
	<%= link_to "Sign Up!", signup_path %>
<% end %>