<% provide(:title, "Home") %>

<div class="landing">
	<div class="overlay"></div>
</div>
<div class="content">
	<h1 class="heading">Craigslist Scraper</h1>
	<h2 class="subheading">Enter some searches, get emailed about new posts in your area</h2>

	<% if !logged_in? %>
		<%= link_to "Log In", login_path %>
		<%= link_to "Sign Up!", signup_path %>
	<% end %>
</div>
<div class="info">
</div>
