<% provide(:title, current_user.email) %>

<h1>Searches</h1>

<%= link_to "New Search", new_user_search_path(@user.id) %>
<table>
	<th>Title</th>
	<th>Location</th>
	<th>Query</th>
<%= render partial: "searches/search", collection: @user.searches %>
</table>