<% provide(:title, "Edit Search") %>

<div class="container">
	<h1 class="center-block">Edit Search</h1>
		<%= form_for :search, url: user_search_path(current_user.id, @search.id), method: :patch do |f| %>
			<%= render partial: 'searches/search_form.html.erb', locals: { f: f } %>
		<% end %>
	</div>
</div>