<% provide(:title, "Edit Search") %>

<div class="head">
	<h1 class="heading">Edit Search</h1>
</div>
<div class="content">
	<div class="search-form">
		<%= form_for :search, url: user_search_path(current_user.id, @search.id), method: :patch do |f| %>
			<%= render partial: "searches/search_form.html.erb", locals: { f: f } %>
		<% end %>
	</div>
</div>