<% provide(:title, "New Search") %>

<div class="container">
	<h1 class="center-block">New Search</h1>
		<%= form_for :search, url: user_searches_path(current_user.id), class: "form-horizontal" do |f| %>
			<%= render partial: 'searches/search_form.html.erb', locals: { f: f } %>
		<% end %>
	</div>
</div>
