<% provide(:title, "New Search") %>

<div class="head">
	<h1 class="heading">New Search</h1>
</div>
<div class="content">
	<div class="new-search">
		<%= form_for :search, url: user_searches_path(current_user.id) do |f| %>
			<%= render partial: 'searches/search_form.html.erb', locals: { f: f } %>
		<% end %>
	</div>
</div>
