<% provide(:title, "New Search") %>

<h1>New Search</h1>

<%= form_for :search, url: user_searches_path(current_user.id) do |f| %>
	<%= render partial: 'searches/search_form.html.erb', locals: { f: f } %>
<% end %>