<% provide(:title, @search.title.titleize) %>

<h1 class="heading center"> <%= @search.title.titleize %> </h1>

<div class="content">
	<table>
		<th>Title</th>
		<th>Price</th>
		<th>Location</th>
		<th>Neighborhood</th>
		<th>URL</th>
		<%= render partial: 'hits/hit', collection: @search.hits %>
	</table>
</div>